
/*Page CSS*/

html{
	background: #191919;
}

body{
	width:900px;
	margin: 0 auto;
	background: #191919;
	font-family:sans-serif;
}

header{
	background:#ED871B;
	margin-top: 10px;
	padding:15px;
	padding-bottom:80px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:white;
	position:relative;
}

img#logo{
	padding-right:10px;
	float:left;
	width:150px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

nav{
	position:absolute;
	right:5px;
	bottom:10px;
}

nav, header, section, footer{
	display:block;
}

nav ul{
	
}

nav ul li{
	list-style: none;
	display:inline;
	padding:10px 15px;
	margin:0px 2px;
	background-color: #DBE3E3;
	text-align:center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

a {
	text-decoration:none;
	color:#1E5ABA;
}


h1 {
	font-size:3em;
	font-family: 'Cabin', arial, serif;
	font-weight:bold;
}

p{
	padding:5px 10px;
}

section.page{
	padding:  5px;
	background-color:#DBE3E3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: -10px;
	position:relative;

}

section.page > h1{
	padding: 15px 15px 5px 15px;
	font-size: 2em;
	border-bottom: thin dotted #1D9CEB;
	width:600px;
}

section.page p{
	width:600px;
}

footer{
	color:white;
	padding: 5px;
}


/*Login Form CSS*/

form.login{
	position:absolute;
	right:10px;
	top:10px;
	background-color:#1E5ABA;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:220px;
}

form.login li{
	padding-bottom:5px;
	position:relative;
	color:white;
}

form.login a{
	color:white;
}

.boxtitle{
	font-weight:bold;
}

form.newaccount label {
	
}

form.newaccount input {
	
}
/*Leaderboard Page CSS*/

section.rank-all
{
	padding-left:10px;
}

section.rank-all h1
{
	font-size:1.5em;

}

section.rank-all ol
{
	list-style:decimal;
	margin-left:30px;
}

section.rank-special
{
	overflow:auto;
	padding-left:5px;
}

section.rank-special h1
{
	font-size:1.5em;
	border-bottom: thin dotted white;
	margin-bottom:3px;
}

section.rank-special p
{
	padding:0px;
	font-size:0.8em;

}

section.rank-special ol
{
	list-style:decimal;
	margin-left:30px;
	margin-top:3px;
}

section.rank-special ul > li
{
	float:left;
	padding-right:5px;
}


section.rank-italian
{
	width:280px;
	background: rgb(0, 200, 55);
	overflow:auto;
	padding:5px;
}


section.rank-mexican
{
	width:280px;
	background: rgba(255, 0, 0, 0.75);
	overflow:auto;
	padding:5px;
}

section.rank-chinese
{
	width:280px;
	background: rgba(0, 0, 255, 0.5);
	overflow:auto;
	padding:5px;
}

/*Bingo Card*/

section.bingocard{
	margin:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width:685px;
	background-color: black;
	overflow:auto;
}

ul.bingocard{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: black;
}


.abc li{
	background-color:white;
	text-align:center;
	margin:8px;
	float:left;
	width:40px;
	padding:10px;
	font-size: 160%;
	font-weight:bold;
	line-height:1.5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px white;
	list-style:none;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 81%, from(#666666), to(#F8F0FC), color-stop(1,#333333));
}

}

/*Visit Information Form*/

form#visit > fieldset > label {
	display: block;
	color:red;
}

#visit fieldset {
	margin: 10px 0px;
}

.ui-datepicker{
    z-index: 9000;
}

.ui-datepicker-calendar{
	font-size: small;
	width: 200px;
}
.ui-datepicker-calendar  > tr{
	border-bottom: thin solid;
}

.ui-datepicker-next, .ui-datepicker-prev {
	font-size: small;
	color:white;
}

.ui-datepicker-next{
	float: right;
}

.ui-datepicker-title{
	color: white;
	font-weight:bold;
	padding-top: 5px;
}

/*Visit Form Overlay*/

.ui-widget-header{
padding: 10px;
background:#ED871B;
}

.ui-widget-content{
	background:white;
	padding:10px;
}

.ui-icon ui-icon-closethick{
    padding:18px;
}

.ui-dialog-title{
	color:white;
	font-weight:bold;
}

.ui-dialog-titlebar{
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.ui-dialog-titlebar-close{
	float:right;
}
