/*Yahoo Reset CSS*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/*Page CSS*/

html{
	background: #191919;
}

body{
	width:900px;
	margin: 0 auto;
	background: #191919;
	font-family:sans-serif;
}

header{
	background:#ED871B;
	margin-top: 10px;
	padding:25px;
	padding-bottom:55px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:white;

}

nav ul{
	padding-bottom:25;
	margin-left:15px;
	margin-top: -25px;

}

nav ul li{
	list-style: none;
	display:inline;
	padding:10px 15px;
	margin:0px 2px;
	background-color: #DBE3E3;
	text-align:center;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

a {
	text-decoration:none;
	color:#1E5ABA;
}


h1 {
	font-size:3em;
}

p{
	padding:5px 10px;
}
	
section.page{
	padding:  5px;
	background-color:#DBE3E3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 0px;
	position:relative;
}

section.page > h1{
	padding: 15px 15px 5px 15px;
	font-size: 2em;
	border-bottom: thin dotted #1D9CEB;
}

section.page p{
	padding-right:300px;
}


form.login{
	position:absolute;
	right:10px;
	top:10px;
	background-color:#1E5ABA;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:220px;
}

form.login li{
	padding-bottom:5px;
	position:relative;
	color:white;
}

form.login input{
	position:absolute;
	right:0;
}

footer{
	color:white;
	padding: 5px;
}